.testimonials {

}
.testimonials_wrap{
    width: 100%;
}
.slider {
    display: flex;
    background-color: rgba(92, 50, 73);
    margin-bottom: 2.8125rem;
}
.slider_img {
    max-width: 50%;
    
}
.slider_text { 
    margin: auto;
    max-width: 470px;
    font-family: 'Cardo';
    font-style: italic;
    font-weight: 400;
    font-size: $_36px;
    line-height: 49px;
    align-items: center;
    text-transform: capitalize;
    color: #FFFFFF;
}
.slider_text_author {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
}
.dops {
    width: 170px;
    height: 14px;
    margin: auto;
}