$red_btn: rgba(255, 67, 67);

$_64px: 4rem;
$_36px: 2.25rem;
$_30px: 1.875rem;
$_24px: 1.5rem;
$_18px: 1.125rem;
$_13px: 0.8125rem;
$_114px: 7.125rem;

$white: #fff;
$grey: #babbc5;
$icon_grey: #c6cbcd;
$grey-text: #6c7279;
$normal_red: #ff4343;
$dark_red: #e71414;
$slider: #5c3249;
$blue-alpha: rgba(37, 43, 73, 0.8);
$card-hover: rgba(255, 67, 67, 0.8);
$card-active: rgba(185, 12, 12, 0.8);